/* Estrutura de layout */
.row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Botão */
.btn {
    background-color: #4CAF50; /* Cor verde */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin: 5px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #45a049; /* Tom mais escuro ao passar o mouse */
    cursor: pointer;
}

/* Estilo do Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    padding-right: 15px;
    background-color: #f9f9f9; /* Fundo claro */
}

/* Efeito hover no Card */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Lista de Tarefas */
li {
    width: 60vw;
    list-style-type: none;
    border: solid #ccc 1px;
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1; /* Fundo claro para as tarefas */
    border-radius: 5px;
}

li:hover {
    background-color: #ffeeba; /* Amarelo claro ao passar o mouse */
}

/* Tarefa Concluída */
.concluida {
    text-decoration: line-through;
    color: gray;
}

/* Input para nova tarefa */
#descricaoTarefa {
    width: 45vw;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

/* Botão de edição */
.edit {
    background-color: #008CBA; /* Azul */
    border: none;
    color: white;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.edit:hover {
    background-color: #005f6a;
}

/* Botão de exclusão */
.close {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

.close:hover {
    cursor: pointer;
    font-weight: bold;
    color: darkred;
}

.remove {
    color: red;
}

/* Checkbox */
.concluir {
    margin-right: 10px;
}